# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lrknox

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
*.cmake           @byrnHDF @derobins
CMakeLists.txt    @byrnHDF @derobins
CMakeTests.*      @byrnHDF @derobins

/bin/             @lrknox @derobins @qkoziol

/c++/             @bmribler @byrnHDF @derobins

/config/          @lrknox @derobins @qkoziol @byrnHDF

/doc/             @gnuoyd @jrmainzer

/examples/        @lrknox @derobins @bljhdf

/fortran/         @brtnfld @epourmal

/hl/              @bmribler @byrnHDF @derobins

/java/            @jhendersonHDF @byrnHDF

/m4/              @lrknox @derobins

/release_docs/    @lrknox @bljhdf @byrnHDF

/src/             @jhendersonHDF @derobins @fortnern @qkoziol @soumagne @vchoi-hdfgroup @jrmainzer

/test/            @jhendersonHDF @derobins @fortnern @qkoziol @soumagne @vchoi-hdfgroup @jrmainzer

/testpar/         @jhendersonHDF @rawarren @jrmainzer @qkoziol

/tools/           @byrnHDF @bmribler @derobins

/utils/           @lrknox @byrnHDF @derobins
