# .gitignore file for HDF5

# Java .classes files
**/java/.classes

# Backup files
# Editor-specific extensions should go in your ~/.gitconfig, but we
# include the standard Unix backup '~' extension since autoheader
# backs up H5config.h.in when it creates a new one and the
# extension is always '~'.
**/*~

# Other files, most of which are created by scripts in bin/
/build*
src/H5config.h.in

/.classpath
/CMakeUserPresets.json
HDF5Examples/CMakeUserPresets.json
