<STYLE TYPE="text/css">

P, p, UL, ul, OL, ol, LI, li, DL, dl, DT, dt, DD, dd    {
        }
	
A, a    {
        }

H1, h1  {
        text-align: center	
        }

H2, h2  {	
        }

H3, h3  {
        }

H4, h4  {	
        }

H5, h5  {	
        }

code, CODE  {
        }

pre, PRE    {
        }
	
.smallType  {
        font-size: smaller;
        }

.1_4_compat  {
        font-style: italic;
        }

</STYLE>