<style type="text/css">

.pageBefore          {page-break-before: always}
.pageNever           { }
.pageNever1          {display: block}
.pageNever3          {position: fixed}

.runningHead         {font-weight: bold}
.smallCaps           {font-variant: small-caps}
.editingCommentLt    {color: #FF0000;
                      font-style: italic}
.editingComment      {font-weight: bold; 
                      color: #FF0000;
                      font-style: italic}
.figureCaption       {text-align: center}
.figureCaptionPara   {text-align: left}
.figureNumber        {font-weight: bold}
.tableHead           {font-weight: bold}
.codeSwatch          { }
.termEmphasis        {font-style: italic}
.termDefinition      {font-style: italic;
                      font-weight: bold}
.termDefList         {font-style: normal;
                      font-weight: bold}
.codeText            {font-family: Courier New, Courier;
                      font-size: smaller}
.codeVar             {font-family: Courier New, Courier;
                      font-size: smaller;
                      font-style: italic}

.greenFrame1         {margin-left: 10px;
                      margin-top: 10px;
                      margin-bottom: 10px;
                      border-top-style: Solid;
                      border-top-color: #008000;
                      border-top-width: 3px;
                      border-left-width: 1px;
                      border-left-color: #008000;
                      border-left-style: Solid;
                      border-bottom-width: 3px;
                      border-bottom-color: #008000;
                      border-bottom-style: Solid;}
.greenLine1          {border-bottom-width: 1px;
                      border-bottom-color: #008000;
                      border-bottom-style: Solid;}
		      
.genTable            {x-cell-content-align: top;
		      border-spacing: 0px;
		      left: 0px;
		      top: 330px;
		      height: 145px;
		      float: aligncenter;
		      width: 600px;}
.genTableLeftHdr     {border-left-width: 1px;
		      border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-right-width: 1px;
		      border-bottom-style: Solid;
		      border-bottom-width: 1px;
		      border-bottom-color: #008000;
		      padding-right: 10px;
		      padding-left: 10px;}
.genTableRightHdr    {border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-right-width: 1px;
		      border-bottom-style: Solid;
		      border-bottom-width: 1px;
		      border-bottom-color: #008000;
		      padding-right: 10px;
		      padding-left: 10px;} 
.genTableCell        {padding-right: 10px; 
                      padding-left: 10px;}
.genTableBottom      {border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      border-bottom-style: Solid;
		      padding-right: 10px;
		      padding-left: 10px;}

.functTable          {x-cell-content-align: top;
		      border-spacing: 0px;
		      float: aligncenter;
		      left: 56px;
		      top: 615px;
		      width: 600px;}
.functTableLeftHdr   {border-left-width: 1px;
		      border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-right-width: 1px;
		      border-bottom-style: Double;
		      border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      padding-right: 10px;
		      padding-left: 10px;}
.functTableRightHdr  {border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-right-width: 1px;
		      border-bottom-style: Double;
		      border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      padding-right: 10px;
		      padding-left: 10px;}
.functTableCell      {padding-right: 10px; padding-left: 10px;
                      border-bottom-width: 1px;
                      border-bottom-color: #008000;
                      border-bottom-style: Solid;}
.functTableBottom    {border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      border-bottom-style: Solid;
		      padding-right: 10px;
		      padding-left: 10px;}

.fullImgTable        {x-cell-content-align: top;
		      border-spacing: 0px;
		      left: 56px;
		      top: 615px;
		      width: 600px;}
.fullImgTableImgCell {border-left-width: 1px;
		      border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-right-width: 1px;
		      border-bottom-style: Solid;
		      border-bottom-width: 1px;
		      border-bottom-color: #008000;}
.fullImgTableImgTopCell 
		     {border-left-width: 1px;
		      border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-right-width: 1px;}
.fullImgTableImgBottomCell 
                     {border-left-width: 1px;
		      border-right-width: 1px;
		      border-bottom-style: Solid;
		      border-bottom-width: 1px;
		      border-bottom-color: #008000;}
.fullImgTableCapCell {border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      border-bottom-style: Solid;}

.tocTable            {x-cell-content-align: top;
		      border-spacing: 0px;
		      border-left-width: 20px;
		      border-left-style: Solid;
		      border-left-color: #FFFFFF;
		      border-bottom-width: 20px;
		      border-bottom-style: Solid;
		      border-bottom-color: #FFFFFF;
		      float: aligncenter;
		      left: 56px;
		      top: 615px;
		      width: 220;}
.tocTableHeaderCell  {border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-right-width: 1px;
		      border-left-width: 6px;
		      border-left-style: Solid;
		      border-left-color: #008000;
		      border-bottom-style: Solid;
		      border-bottom-width: 1px;
		      border-bottom-color: #008000;
		      padding-right: 10px;
		      padding-left: 10px;}
.tocTableContentCell {border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      border-bottom-style: Solid;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;
		      padding-right: 10px;
		      padding-left: 10px;}
.tocTableContentCell2 
                     {border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;
		      padding-right: 10px;
		      padding-left: 10px;}
.tocTableContentCell3 
                     {border-bottom-width: 3px;
		      border-bottom-color: #FFFFFF;
		      border-bottom-style: Solid;
		      border-left-width: 1px;
		      border-left-color: #FFFFFF;
		      border-left-style: Solid;
		      padding-right: 10px;
		      padding-left: 0px;}
.tocTableContentCell4 
                     {border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      border-bottom-style: Solid;
		      border-left-width: 1px;
		      border-left-color: #FFFFFF;
		      border-left-style: Solid;
		      padding-right: 10px;
		      padding-left: 0px;}
		      
.ColumnTable         {x-cell-content-align: top;
		      border-spacing: 0px;
		      float: aligncenter;
		      left: ;
		      top: ;}		      
.ColumnLeftHdr       {border-left-width: 1px;
		      border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;
		      border-bottom-style: Double;
		      border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      padding-right: 10px;
		      padding-left: 10px;}
.ColumnRightHdr      {border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;
		      border-right-width: 1px;
		      border-right-color: #008000;
		      border-right-style: Solid;
		      border-bottom-style: Double;
		      border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      padding-right: 10px;
		      padding-left: 10px;}
.ColumnHdr           {border-top-style: Solid;
		      border-top-color: #008000;
		      border-top-width: 3px;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;
		      border-right-width: 1px;
		      border-right-color: #008000;
		      border-right-style: Solid;
		      border-bottom-style: Double;
		      border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      padding-right: 10px;
		      padding-left: 10px;}
.ColumnLeftCell      {padding-right: 10px; 
                      padding-left: 10px;
                      border-bottom-width: 1px;
                      border-bottom-color: #008000;
                      border-bottom-style: Solid;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;}
.ColumnRightCell     {padding-right: 10px; 
                      padding-left: 10px;
                      border-bottom-width: 1px;
                      border-bottom-color: #008000;
                      border-bottom-style: Solid;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;
		      border-right-width: 1px;
		      border-right-color: #008000;
		      border-right-style: Solid;}
.ColumnCell          {padding-right: 10px; 
                      padding-left: 10px;
                      border-bottom-width: 1px;
                      border-bottom-color: #008000;
                      border-bottom-style: Solid;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;}
.ColumnLeftBottom    {border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      border-bottom-style: Solid;
		      padding-right: 10px;
		      padding-left: 10px;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;}
.ColumnRightBottom   {border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      border-bottom-style: Solid;
		      padding-right: 10px;
		      padding-left: 10px;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;
		      border-right-width: 1px;
		      border-right-color: #008000;
		      border-right-style: Solid;}
.ColumnBottom        {border-bottom-width: 3px;
		      border-bottom-color: #008000;
		      border-bottom-style: Solid;
		      padding-right: 10px;
		      padding-left: 10px;
		      border-left-width: 1px;
		      border-left-color: #008000;
		      border-left-style: Solid;}

</style>
