name: hdf5 1.12 daily build

# Controls when the action will run. Triggers the workflow on a schedule
on:
  workflow_dispatch:

permissions:
  contents: read

# A workflow run is made up of one or more jobs that can run sequentially or
# in parallel.
jobs:
  call-workflow-tarball:
    uses: ./.github/workflows/tarball.yml

  call-workflow-ctest:
    needs: call-workflow-tarball
    uses: ./.github/workflows/cmake-ctest.yml
    with:
      file_base: ${{ needs.call-workflow-tarball.outputs.file_base }}
    if: ${{ needs.call-workflow-tarball.outputs.has_changes == 'true' }}

  call-workflow-release:
    needs: [call-workflow-tarball, call-workflow-ctest]
    permissions:
      contents: write # In order to allow tag creation
    uses: ./.github/workflows/release-files.yml
    with:
      file_base: ${{ needs.call-workflow-tarball.outputs.file_base }}
      file_branch: ${{ needs.call-workflow-tarball.outputs.file_branch }}
      file_sha: ${{ needs.call-workflow-tarball.outputs.file_sha }}
    if: ${{ needs.call-workflow-tarball.outputs.has_changes == 'true' }}

