name: hdfeos5 1.14

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ hdf5_1_14_4 ]
    paths-ignore:
      - '.github/CODEOWNERS'
      - '.github/FUNDING.yml'
      - 'doc/**'
      - 'release_docs/**'
      - 'ACKNOWLEDGEMENTS'
      - 'COPYING**'
      - '**.md'

# Using concurrency to cancel any in-progress job or run
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref && github.ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build hdfeos5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Install Autotools Dependencies (Linux)
        run: |
          sudo apt update
          sudo apt install automake autoconf libtool libtool-bin
      - name: Install HDF5
        run: |
          ./autogen.sh
          ./configure --prefix=/usr/local --disable-tests --with-default-api-version=v16
          make
          sudo make install
      - name: Install HDF-EOS5
        run: |
          wget -O HDF-EOS5.2.0.tar.gz "https://git.earthdata.nasa.gov/projects/DAS/repos/hdfeos5/raw/hdf-eos5-2.0-src.tar.gz?at=refs%2Fheads%2FHDFEOS5_2.0"
          tar zxvf HDF-EOS5.2.0.tar.gz
          cd hdf-eos5-2.0
          ./configure CC=/usr/local/bin/h5cc --prefix=/usr/local/ --enable-install-include
          make
          make check
          sudo make install
