name: hdf5 dev CI

# Controls when the action will run. Triggers the workflow on push or pull request
on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ develop ]
    paths-ignore:
      - '.github/CODEOWNERS'
      - '.github/FUNDING.yml'
      - 'doc/**'
      - 'release_docs/**'
      - 'ACKNOWLEDGEMENTS'
      - 'COPYING**'
      - '**.md'

# Using concurrency to cancel any in-progress job or run
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref && github.ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

# A workflow run is made up of one or more jobs that can run sequentially or
# in parallel. We just have one job, but the matrix items defined below will
# run in parallel.
jobs:
  workflow-autotools:
    name: "Autotools Workflows"
    uses: ./.github/workflows/autotools.yml
    if: "!contains(github.event.head_commit.message, 'skip-ci')"

  workflow-cmake:
    name: "CMake Workflows"
    uses: ./.github/workflows/cmake.yml
    if: "!contains(github.event.head_commit.message, 'skip-ci')"

