name: Check 1.14 Markdown links

# Triggers the workflow on push or pull request or on demand
on:
  workflow_dispatch:

# The config file handles things like http 500 errors from sites like GitLab
# and http 200 responses
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        config-file: '.github/workflows/markdown_config.json'
