name: Check Markdown links

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ hdf5_1_14_4 ]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
