name: hdf5 1.14 release-files

# Triggers the workflow on a call from another workflow
on:
  workflow_call:
    inputs:
      use_tag:
        description: 'Release version tag'
        type: string
        required: false
        default: snapshot-1.14
      use_environ:
        description: 'Environment to locate files'
        type: string
        required: true
        default: snapshots
      file_base:
        description: "The common base name of the source tarballs"
        required: true
        type: string
      file_branch:
        description: "The branch name for the source tarballs"
        required: true
        type: string
      file_sha:
        description: "The sha for the source tarballs"
        required: true
        type: string

# Minimal permissions to be inherited by any job that doesn't declare its own permissions
permissions:
  contents: read

# Previous workflows must pass to get here so tag the commit that created the files
jobs:
  create-tag:
    runs-on: ubuntu-latest
    permissions:
        contents: write # In order to allow tag creation
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Get Sources
        uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08 # v4.1.7
        with:
          fetch-depth: 0
          ref: '${{ github.head_ref || github.ref_name }}'

      - uses: rickstaa/action-create-tag@a1c7777fcb2fee4f19b0f283ba888afa11678b72 # v1.7.2
        id: "tag_create"
        with:
          commit_sha: ${{ inputs.file_sha }}
          tag: "${{ inputs.use_tag }}"
          force_push_tag: false
          tag_exists_error: false
          message: "Latest snapshot-1.14"

      # Print result using the action output.
      - run: |
          echo "Tag already present: ${{ steps.tag_create.outputs.tag_exists }}"

  PreRelease-getfiles:
    runs-on: ubuntu-latest
    needs: create-tag
    environment: ${{ inputs.use_environ }}
    permissions:
        contents: write
    steps:
      - name: Get file base name
        id: get-file-base
        run: |
          FILE_NAME_BASE=$(echo "${{ inputs.file_base }}")
          echo "FILE_BASE=$FILE_NAME_BASE" >> $GITHUB_OUTPUT

      # Get files created by tarball script
      - name: Get doxygen (Linux)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: docs-doxygen
              path: ${{ github.workspace }}/${{ steps.get-file-base.outputs.FILE_BASE }}.doxygen

      - name: Zip Folder
        run: zip -r ${{ steps.get-file-base.outputs.FILE_BASE }}.doxygen.zip ./${{ steps.get-file-base.outputs.FILE_BASE }}.doxygen

      - name: Get tgz-tarball (Linux)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: tgz-tarball
              path: ${{ github.workspace }}

      - name: Get zip-tarball (Windows)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: zip-tarball
              path: ${{ github.workspace }}

      # Get files created by cmake-ctest script
      - name: Get published binary (Windows)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: zip-vs2022_cl-binary
              path: ${{ github.workspace }}

      - name: Get published msi binary (Windows)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: msi-vs2022_cl-binary
              path: ${{ github.workspace }}

      - name: Get published binary (MacOS)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: tgz-macos14_clang-binary
              path: ${{ github.workspace }}

      - name: Get published dmg binary (MacOS)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: tgz-macos14_clang-dmg-binary
              path: ${{ github.workspace }}

      - name: Get published binary (Linux)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: tgz-ubuntu-2204_gcc-binary
              path: ${{ github.workspace }}

      - name: Get published deb binary (Linux)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: deb-ubuntu-2204_gcc-binary
              path: ${{ github.workspace }}

      - name: Get published rpm binary (Linux)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: rpm-ubuntu-2204_gcc-binary
              path: ${{ github.workspace }}

      - name: Get published binary (Linux S3)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: tgz-ubuntu-2204_gcc_s3-binary
              path: ${{ github.workspace }}

      - name: Get published binary (Windows_intel)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: zip-vs2022_intel-binary
              path: ${{ github.workspace }}

      - name: Get published msi binary (Windows_intel)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: msi-vs2022_intel-binary
              path: ${{ github.workspace }}

      - name: Get published binary (Linux_intel)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: tgz-ubuntu-2204_intel-binary
              path: ${{ github.workspace }}

      - name: Get published abi reports (Linux)
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: abi-reports
              path: ${{ github.workspace }}

      - name: Get published nonversioned source (tgz)
        if: ${{ (inputs.use_environ == 'release') }}
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: tgz-tarball-nover
              path: ${{ github.workspace }}

      - name: Get published nonversioned source (zip)
        if: ${{ (inputs.use_environ == 'release') }}
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: zip-tarball-nover
              path: ${{ github.workspace }}

      - name: Create sha256 sums for files
        run: |
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}.doxygen.zip > ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}.tar.gz >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}.zip >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-macos14_clang.tar.gz >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-macos14_clang.dmg >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.tar.gz >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.deb >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.rpm >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc_s3.tar.gz >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_cl.zip >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_cl.msi >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_intel.tar.gz >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_intel.zip >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_intel.msi >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum ${{ steps.get-file-base.outputs.FILE_BASE }}.html.abi.reports.tar.gz >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt

      - name: Create sha256 sums for files  for nonversioned files
        if: ${{ (inputs.use_environ == 'release') }}
        run: |
          sha256sum hdf5.zip >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
          sha256sum hdf5.tar.gz >> ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt

      - name: Store snapshot name
        run: |
          echo "${{ steps.get-file-base.outputs.FILE_BASE }}" > ./last-file.txt

      - name: Get NEWSLETTER
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
              name: NEWSLETTER
              path: ${{ github.workspace }}

      - name: Create description file
        run: |
          cat ${{ github.workspace }}/NEWSLETTER.txt > description.txt

      - name: PreRelease tag
        id: create_prerelease
        if: ${{ (inputs.use_environ == 'snapshots') }}
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2.0.8
        with:
          tag_name: "${{ inputs.use_tag }}"
          prerelease: true
          body_path: description.txt
          files: |
              last-file.txt
              ${{ steps.get-file-base.outputs.FILE_BASE }}.doxygen.zip
              ${{ steps.get-file-base.outputs.FILE_BASE }}.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}.zip
              ${{ steps.get-file-base.outputs.FILE_BASE }}-macos14_clang.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}-macos14_clang.dmg
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.deb
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.rpm
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc_s3.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_cl.zip
              ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_cl.msi
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_intel.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_intel.zip
              ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_intel.msi
              ${{ steps.get-file-base.outputs.FILE_BASE }}.html.abi.reports.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
              if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`

      - name: Release tag
        id: create_release
        if: ${{ (inputs.use_environ == 'release') }}
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2.0.8
        with:
          tag_name: "${{ inputs.use_tag }}"
          prerelease: false
          body_path: description.txt
          files: |
              ${{ steps.get-file-base.outputs.FILE_BASE }}.doxygen.zip
              ${{ steps.get-file-base.outputs.FILE_BASE }}.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}.zip
              hdf5.tar.gz
              hdf5.zip
              ${{ steps.get-file-base.outputs.FILE_BASE }}-macos14_clang.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}-macos14_clang.dmg
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.deb
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc.rpm
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_gcc_s3.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_cl.zip
              ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_cl.msi
              ${{ steps.get-file-base.outputs.FILE_BASE }}-ubuntu-2204_intel.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_intel.zip
              ${{ steps.get-file-base.outputs.FILE_BASE }}-win-vs2022_intel.msi
              ${{ steps.get-file-base.outputs.FILE_BASE }}.html.abi.reports.tar.gz
              ${{ steps.get-file-base.outputs.FILE_BASE }}.sha256sums.txt
              if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`

      - name: List files for the space (Linux)
        run: |
              ls -l ${{ github.workspace }}
              ls ${{ runner.workspace }}

      - name: branch-only-docs
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ github.workspace }}/${{ steps.get-file-base.outputs.FILE_BASE }}.doxygen
          destination_dir: v1_14
